---
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.astro';
import Layout from '../layouts/Layout.astro';

const posts = await Astro.glob('../posts/*.md');

console.log(posts);
---

<Layout title='Astro Blog'>
  <Showcase heading='Astro Blog' text='A simple blog built with Astro' />
  <section class='my-5'>
    <div class='container'>
      {
        posts.map((post) => (
          <Card>
            <h3 class='my-5 text-2xl font-bold leading-5 text-slate-900'>
              {post.frontmatter.title}
            </h3>
            <div>
              Written by <strong>{post.frontmatter.author} </strong> on{' '}
              {new Date(post.frontmatter.date).toLocaleDateString()}
            </div>
            <p class='my-4'>{post.frontmatter.excerpt}</p>
            <a
              class='inline-block py-2 px-4 rounded bg-gray-600 text-white uppercase text-sm'
              href={`/posts/${post.frontmatter.slug}`}>
              Read More
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
