---
const linkStyle = 'text-purple-300 hover:underline';
---

<footer class='bg-slate-800 text-white p-5 mt-16'>
  <div class='flex justify-between items-center'>
    <div>
      <h3 class='mb-3 text-lg font-bold'>Astro</h3>
      <p>
        This is a demo website to show how the Astro framework works. Visit the <a
          href='https://astro.build'
          class={linkStyle}>official website</a
        > to learn more.
      </p>
    </div>
    <div>
      <h3 class='mb-3 text-lg font-bold'>Links</h3>
      <ul>
        <li><a href='/' class={linkStyle}>Home</a></li>
        <li><a href='/about' class={linkStyle}>About</a></li>
        <li><a href='/blog' class={linkStyle}>Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
